## Pydataset

In [1]:
import pandas as pd

In [3]:
#pip install pydataset

Requirement already satisfied: pydataset in c:\users\user\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from pydataset) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->pydataset) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas->pydataset) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pydataset import data

initiated datasets repo at: C:\Users\USER\.pydataset/

In [6]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [7]:
data()[12:21]

        dataset_id                                                      title
12       Puromycin                 Reaction Velocity of an Enzymatic Reaction
13         Titanic                      Survival of passengers on the Titanic
14     ToothGrowth     The Effect of Vitamin C on Tooth Growth in Guinea Pigs
15   UCBAdmissions                          Student Admissions at UC Berkeley
16  UKDriverDeaths                   Road Casualties in Great Britain 1969-84
17           UKgas                               UK Quarterly Gas Consumption
18     USAccDeaths                      Accidental Deaths in the US 1973-1978
19       USArrests                            Violent Crime Rates by US State
20  USJudgeRatings  Lawyers' Ratings of State Judges in the US Superior Court

In [10]:
df=data('UKgas')
df

        time   UKgas
1    1960.00   160.1
2    1960.25   129.7
3    1960.50    84.8
4    1960.75   120.1
5    1961.00   160.1
6    1961.25   124.9
7    1961.50    84.8
8    1961.75   116.9
9    1962.00   169.7
10   1962.25   140.9
11   1962.50    89.7
12   1962.75   123.3
13   1963.00   187.3
14   1963.25   144.1
15   1963.50    92.9
16   1963.75   120.1
17   1964.00   176.1
18   1964.25   147.3
19   1964.50    89.7
20   1964.75   123.3
21   1965.00   185.7
22   1965.25   155.3
23   1965.50    99.3
24   1965.75   131.3
25   1966.00   200.1
26   1966.25   161.7
27   1966.50   102.5
28   1966.75   136.1
29   1967.00   204.9
30   1967.25   176.1
31   1967.50   112.1
32   1967.75   140.9
33   1968.00   227.3
34   1968.25   195.3
35   1968.50   115.3
36   1968.75   142.5
37   1969.00   244.9
38   1969.25   214.5
39   1969.50   118.5
40   1969.75   153.7
41   1970.00   244.9
42   1970.25   216.1
43   1970.50   188.9
44   1970.75   142.5
45   1971.00   301.0
46   1971.25   196.9
47   1971.50   136.1
48   1971.75   267.3
49   1972.00   317.0
50   1972.25   230.5
51   1972.50   152.1
52   1972.75   336.2
53   1973.00   371.4
54   1973.25   240.1
55   1973.50   158.5
56   1973.75   355.4
57   1974.00   449.9
58   1974.25   286.6
59   1974.50   179.3
60   1974.75   403.4
61   1975.00   491.5
62   1975.25   321.8
63   1975.50   177.7
64   1975.75   409.8
65   1976.00   593.9
66   1976.25   329.8
67   1976.50   176.1
68   1976.75   483.5
69   1977.00   584.3
70   1977.25   395.4
71   1977.50   187.3
72   1977.75   485.1
73   1978.00   669.2
74   1978.25   421.0
75   1978.50   216.1
76   1978.75   509.1
77   1979.00   827.7
78   1979.25   467.5
79   1979.50   209.7
80   1979.75   542.7
81   1980.00   840.5
82   1980.25   414.6
83   1980.50   217.7
84   1980.75   670.8
85   1981.00   848.5
86   1981.25   437.0
87   1981.50   209.7
88   1981.75   701.2
89   1982.00   925.3
90   1982.25   443.4
91   1982.50   214.5
92   1982.75   683.6
93   1983.00   917.3
94   1983.25   515.5
95   1983.50   224.1
96   1983.75   694.8
97   1984.00   989.4
98   1984.25   477.1
99   1984.50   233.7
100  1984.75   730.0
101  1985.00  1087.0
102  1985.25   534.7
103  1985.50   281.8
104  1985.75   787.6
105  1986.00  1163.9
106  1986.25   613.1
107  1986.50   347.4
108  1986.75   782.8